.MainRow {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  width: 300px;
  margin-top: 3rem;
}

.FormGroup {
  width: 350px;
  margin-top: 1rem;
}

.FormLabel {
  color: #00000099;
  font-weight: 500;
}

.SignInBtn {
  width: 350px;
  height: 50px;
  font-weight: 500;
  top: 208px;
  padding: 15px, 0px, 15px, 0px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #15cac4 0%, #1b6be1 100%);
  margin-top: 3.5rem;
}

.regjistrohubtn {
  width: 350px;
  height: 50px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  background: #00000026;
  margin-top: 2rem;
  padding-top: 12px;
}

.AdminBtn {
  width: 350px;
  height: 50px;
  font-weight: 500;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  background: none;
  margin-top: 2rem;
  padding-top: 12px;
  text-decoration: none;
  text-align: center;
}

.BigLogo {
  width: 550px;
  margin-left: 0.5rem;
}
